@import "../../../shared/styles/variables";

.UserForm {
    display: block;
    position: relative;
    padding: 45px 15px 15px 15px;
    margin: 0 0 20px;
    background: $rc-color-box;
    border-bottom: 3px solid darken($rc-color-box, 5%);
    border-radius: $rc-radius;

    header {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2px 15px;
        background: $rc-color-box-medium;
        border-radius: $rc-radius $rc-radius 0 0;

        h1,
        a.control {
            line-height: 30px;
            color: $rc-color-text;
        }

        h1 {
            margin: 0;
        }

        a.control {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 0 15px 0 16px;
            font-size: 12px;
            border-radius: 0 $rc-radius 0 0;
            transition: background 150ms ease;

            &:after {
                display: none;
            }

            &:hover,
            &:focus {
                color: $rc-color-white;
                background: $rc-color-alt;
            }
        }

        [class^="rc-icon-"]:before,
        [class*=" rc-icon-"]:before {
            vertical-align: middle;
        }
    }
}
